<template name="layout">
  <body>
    {{> header}}
    <!-- i tried to put scroll-content and content here but there's a weird bug. try it yourself. -->
    {{> yield}}


      <div class="tabs navigation-tabs">
        <div class="row">
          <div class="small-6 small-centered columns">
            <a class="nav-tab active" href="/">
              <i class="icon ion-ios-list"></i> 
              <span>Places</span>
            </a>
          </div>

          <div class="small-6 small-centered columns">
            <a class="nav-tab" href="/map">
              <i class="icon ion-ios-location-outline"></i> <span>Map</span>
            </a>
          </div>
        </div>
      </div>
    
  </body>
</template>
