<template name="places">
{{> subheader title="Nearby Places"}}

<div class="scroll-content">
  <div class="content">   
    <div id="places">
      {{#each places}}
        <!-- TODO: josh, dunno if this is the right way to path this. was just trying to adapt ionic -->
        <a class="item" href="/p/{{_id}}">
          <div class="row place">
            <div class="small-10 columns">
              <h2>{{name}}</h2>
              <p>
              {{#if price}}
                {{price}}
              {{/if}}
              {{#if rating}}
                <span class="meta divider">|</span>
                <span class="meta stars">{{{getStars rating}}}</span>
              {{/if}}
              </p>
            </div>

            <div class="small-2 columns arrow">
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </div>
        </a>
      {{/each}}
    </div>        
  </div>
</div>
</template>
