<template name="place">
{{> subheader title="Details" backButton="places"}}

{{#with place}}
  <div class="scroll-content">
    <div class="content">
      
      <div class="place-info">
        {{#if photos}}
          <div style="background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference={{photos.[0].photo_reference}}&key=AIzaSyCtfoCAldCEf8hXUlkVUd4UljqKR6W_aF4)" class="place-photo"></div>
        {{/if}}

        <!-- name / opening -->
        <div class="row">
          <div class="small-12 columns">
            <h3>{{name}}</h3>
            {{#if opening_hours.open_now}}
              <div class="open-circ"></div> <span class="open">Open</span> 
            {{/if}}
          </div>
        </div>

        <!-- price & rating-->
        <div class="row meta-info">
          <div class="small-6 columns">
            {{#if rating}}
              <span class="meta stars">{{{getStars rating}}}</span>
            {{else}}
              <span class="meta">No Ratings</span>
            {{/if}}
          </div>
          <div class="small-6 columns">
            <span class="meta price">{{price}}</span>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="info-section">
              <span class="meta">Address</span>
              <p>{{vicinity}}</p>
            </div>

            <div class="info-section">
              <span class="meta">Tags</span>
              <p class="tags">{{tags}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="list">
        <a class="item with-icons" href="#">
          <div class="icon-left"><i class="icon ion-ios-location-outline"></i></div>
          Get Directions
          <div class="icon-right"><i class="icon ion-ios-arrow-right"></i></div>
        </a>
        <a class="item with-icons" href="#">
          <div class="icon-left"><i class="icon ion-ios-paper-outline"></i></div>
          Read Reviews
          <div class="icon-right"><i class="icon ion-ios-arrow-right"></i></div>
        </a>
      </div>
    </div>
  </div>
{{/with}}
</template>
